<div class="page-wrapper">
  <div class="main-content landing-container">
<div class="landing-container">
  <div class="auth-wrapper">
    <div class="landing-text">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>

      <form [formGroup]="form" (ngSubmit)="submit()" class="landing-form">
        <input type="email" formControlName="email" placeholder="Email" class="form-input" />
        <input type="password" formControlName="password" placeholder="Password" class="form-input" />

        <button type="submit" class="btn-login" [disabled]="loading">{{ buttonText }}</button>
      </form>

      <p class="switch-auth">
        {{ switchText }}
        <a [routerLink]="switchLink">{{ switchLinkText }}</a>
      </p>

      <p *ngIf="error" style="color: #ff6b6b;">{{ error }}</p>
    </div>

  <div class="floating-elements">
    <img src="assets/coin1.png" class="coin-left" />
    <img src="assets/coin2.png" class="coin-left" />
    <img src="assets/coin3.png" class="coin-right" />
    <img src="assets/dollar.png" class="coin-right" />
  </div>
</div>
</div>

<app-footer></app-footer>
</div>